@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@layer base {
    ::selection {
        @apply bg-transparent;
        @apply text-pink-600;
    }

    body {
        @apply font-[Railway];
        @apply text-gray-100;
    }

    li {
        @apply px-4;
        @apply cursor-pointer;
    }

    img {
        @apply object-contain;
    }
}

.border-1 {
    border-width: 1px;
}

.flex-2 {
    flex: 2
}

.flex-3 {
    flex: 3;
}

.test {
    border: 1px solid red;
}